doctype html
html
  head
    title SHIBUYA 20XX
    link(href='./css/main.css', rel='stylesheet')
    script(type='text/javascript', src='./js/lib/chikuwa.min.js')
    script(type='text/javascript', src='./js/lib/chikuwa-http.js')
  body
    #main_image
    #slider
      #knob
    script(type='text/javascript', src='./js/main.js')